<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Scrape News with Keyword</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>APIエンドポイント</h2>
    <p>/kwds/v1</p>
    <h2>クエリ―でキーワードを指定</h2>
    <p>/kwds/v1/?kwd=遺産相続&kwd=仮想通貨&kwd=確定申告</p>
    <h2>クエリ―なしの場合デフォルトキーワード(以下のクエリと同じ)</h2>
    <p>/kwds/v1/?kwd=家族信託&kwd=行政書士&kwd=遺言</p>
    <h3>APIドキュメント</h3>
    <a href="/docs">API Document</a>
</body>
</html>